page-truncated-slider {

/* 
	Some Styling for better card-feeling
	 - Ensure same height for cards	
	 - add global padding is offset, so it's not cutted by ion-content and feels like infinity in the sides
*/	
ion-slides[card-slides]{
	
	height: auto;
	margin-left: -$content-padding;
	width: calc(100% + #{$content-padding*2});
	
	.swiper-container {
		padding-bottom: 30px;
	}
	.swiper-slide, .swiper-container, .swiper-wrapper {
		height: auto;	
	}
	.swiper-slide .slide-zoom, .swiper-slide .card {
		height: 100%;
	}
}


/*
	no Slider related stuff... just eye-candy	
*/	
h2.with-button {
	margin-top: 20px !important;
	button {
		bottom: 1px;
		float: right;
		font-size: 14px;
	}
}
.toolbar.toolbar-ios, .toolbar.toolbar-md {
 .toolbar-background.toolbar-background-ios, .toolbar-background.toolbar-background-md { 
	 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.87);
	 backdrop-filter: blur(13px);
	 border-bottom: 0;
  }
   box-shadow: 0 1px 16px rgba(0,0,0,0.026);	
}
/*
ion-slides[card-slides-background] {
	.card {
		background-position: center center;
		background-size: cover;
		color: #fff;
		min-height: 240px;
		overflow: hidden;
		ion-card-content {
			position: absolute;
			bottom: -12px;
			left: 12px;
			right: 12px;
			border-radius: 14px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			text-align: left;
			font-size: 20px;
			font-weight: 700;
			text-shadow: 0px 0px 4px rgba(0,0,0,0.07);
			background: linear-gradient(to bottom, rgba(0,0,0,0) , 15%, rgba(0,0,0,0.24), 50%, rgba(0,0,0,0.5));

		}
	}
}*/


}
